{% extends 'tienda/base.html' %}

{% block title %}
	<title>Gracias</title>
{% endblock %}

{% block content %}
<div class="row text-white">
    <div class="col-12">
        <h2>¡Gracias!</h2>
        <h3>Resumen de tu compra:</h3>
        <div class="fw-bold">{{ compra.producto }}</div>
        <div><b>Unidades: </b>{{ compra.unidades }}</div>
        <div><b>Importe: </b>{{ compra.importe }}€</div>
        <a href="{% url 'tienda' %}" class="btn btn-outline-secondary text-white border-white mt-3">Vuelve a la tienda</a>
    </div>
</div>
{% endblock %}